@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="height: 20px;"></div>
    <span>    
        <i style="position: absolute; left:5%;" class="fa-solid fa-user fa-2xl"></i>
        <p style="position: absolute; left:40%;">@Model.currentUser.UserName</p>
        <i style="position: absolute; right:5%;" class="fa-regular fa-message fa-2xl"></i>
    </span>
    <div style="height: 20px;"></div>
    <div class="card" style="margin-bottom: 20px;">
        <img id="currentPotentialFriendAvatar" src="/imgs/avatars/placeholder.png" class="card-img" alt="user avatar"/>
        <div class="card-body">
            <p id="currentPotentialFriendName" class="card-text">Loading...</p>
            
        </div>
    </div>

    <span>
        <button id="swipePanelYesButton" style="width: 49%;" class="btn-primary">Let's be friends</button>
        <button id="swipePanelNoButton" style="width: 49%;" class="btn-warning">Not right now</button>
    </span>
</div>
